/SwingProject/nbproject/private/
/SwingProject/build/
/AppletDemo/nbproject/private/
/AppletDemo/build/
/ATM_Simulator/JavaApplication/nbproject/private/
/ATM_Simulator/JavaApplication/build/
/ATM_Simulator/Java/nbproject/private/
/Netbeans/ATM Simulator/build/
/Netbeans/ATM Simulator/nbproject/private/
/Netbean/ATM Simulator/build/
/Netbean/ATM Simulator/nbproject/private/
/NetBeans/ATM Simulator/build/
/NetBeans/ATM Simulator/nbproject/private/
/NetBeans/SwingProject - Copy/build/
/NetBeans/SwingProject - Copy/nbproject/private/
/NetBeans/SwingProject/build/
/NetBeans/SwingProject/nbproject/private/
/NetBeans/Applets/nbproject/private/
/NetBeans/Applets/build/
/NetBeans/Swing/nbproject/private/
/NetBeans/Applet/nbproject/private/
/NetBeans/Applet/build/
/NetBeans/AWT/nbproject/private/
/NetBeans/Notepad/nbproject/private/
/NetBeans/Notepad/build/
